<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<label>Country:</label>
<select
  [(ngModel)]="selectedCategory.catId"
  (change)="onSelect($event.target.value)"
>
  <option value="0">--Select--</option>
  <option *ngFor="let cat of categories" value="{{ cat.catId }}">
    {{ cat.catName }}
  </option>
</select>

<br /><br />

<div *ngIf="selectedCategory">
  <label>State:</label>
  <select>
    <option value="0">--Select--</option>
    <option *ngFor="let subCat of subCategories" value="{{ subCat.id }}">
      {{ subCat.subCatName }}
    </option>
  </select>
</div>

<div *ngIf="selectedCategory">
  <p>{{ selectedCategory.catName }}</p>
  <div *ngFor="let subCat of subCategories; let i = index">
    <p>{{ subCat.subCatName }}</p>
  </div>
</div>
