<label>Country:</label>
<select (change)="onSelect($event.target.value)">
  <option value="0">--Select--</option>
  <option *ngFor="let cat of categories" value="{{ cat.catId }}">
    {{ cat.catName }}
  </option>
</select>

<br /><br />

<div *ngIf="selectedCategory">
  <label>State:</label>
  <select (change)="onSelectSubCat($event.target.value)">
    <option value="0">--Select--</option>
    <option *ngFor="let subCat of subCategories" value="{{ subCat.subCatId }}">
      {{ subCat.subCatName }}
    </option>
  </select>
</div>

<div *ngIf="services">
  <p *ngFor="let service of services">{{ service.serviceId }}</p>
</div>
