<label>Country:</label>
<select (change)="onSelect($event.target.value)">
  <option value="0">--Select--</option>
  <option *ngFor="let cat of categories" value="{{ cat.catId }}">
    {{ cat.catName }}
  </option>
</select>

<br /><br />

<div *ngIf="selectedCategory">
  <label>State:</label>
  <select (change)="onSelectSubCat($event.target.value)">
    <option value="0">--Select--</option>
    <option
      *ngFor="let subCat of selectedSubCategories"
      value="{{ subCat.subCatId }}"
    >
      {{ subCat.subCatName }}
    </option>
  </select>
</div>

<div *ngIf="selectedServices && selectedCategory && selectedSubCategory">
  <p *ngFor="let service of selectedServices">{{ service.serviceId }}</p>
</div>

<div *ngIf="selectedServices?.length == 0">
  <div *ngFor="let cat of categories">
    <p>{{ cat.catName }}</p>
    <div *ngFor="let subCat of subCategories">
      <div *ngIf="cat.catId == subCat.catId">{{ subCat.subCatName }}</div>
      <div *ngFor="let service of services">
        <div
          *ngIf="
            service.subCatId == subCat.subCatId && cat.catId == subCat.catId
          "
        >
          {{ service.serviceId }}
        </div>
      </div>
    </div>
  </div>
</div>
